<div class="container">
  <div class="row">
    <div class="col-xs-8 f1-title">
      {{vm.appTitle}}
    </div>
    <div class="col-xs-4 f1-title" ng-if="vm.loggedIn">
      <div style="float: left"><a href="/profile/{{ vm.player.username }}">My Profile</a></div>
      <div class="divider"  style="float: right"></div>
      <div style="float: right"><a href="/logout">Logout</a></div>
    </div>
    <div class="col-xs-4 f1-title" ng-if="!vm.loggedIn">
      User Is NOT Logged In
    </div>
  </div>
</div>
